<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AxoCover.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AxoCover.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AxoCover.Properties.Settings>
            <setting name="TestRunner" serializeAs="String">
                <value />
            </setting>
            <setting name="IsShowingLineCoverage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcludeAttributes" serializeAs="String">
                <value>System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute</value>
            </setting>
            <setting name="ExcludeFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeDirectories" serializeAs="String">
                <value />
            </setting>
            <setting name="Filters" serializeAs="String">
                <value>+[*]*</value>
            </setting>
            <setting name="IsShowingBranchCoverage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowingExceptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowingPartialCoverage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsIncludingSolutionAssemblies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsExcludingTestAssemblies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCoveringByTest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CoveredColor" serializeAs="String">
                <value>#FF329932</value>
            </setting>
            <setting name="MixedColor" serializeAs="String">
                <value>#FFFFCC00</value>
            </setting>
            <setting name="UncoveredColor" serializeAs="String">
                <value>#FFE51300</value>
            </setting>
            <setting name="SelectedColor" serializeAs="String">
                <value>#FF00EEFF</value>
            </setting>
            <setting name="ExceptionOriginColor" serializeAs="String">
                <value>#FFE51300</value>
            </setting>
            <setting name="ExceptionTraceColor" serializeAs="String">
                <value>#FFFFCC00</value>
            </setting>
        </AxoCover.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AxoCover.Properties.Settings>
            <setting name="IssuesUrl" serializeAs="String">
                <value>https://github.com/axodox/AxoTools/issues</value>
            </setting>
            <setting name="FeedbackEmail" serializeAs="String">
                <value>axocover@outlook.com</value>
            </setting>
        </AxoCover.Properties.Settings>
    </applicationSettings>
</configuration>